#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/* carousel CSS*/
#Carousel{
    height: 450px;
    width: 90%;
    align-items: center;
    margin: auto;
}
#Carousel img{
    width: 100%;
    height: 100%;
}
/* carousel CSS*/

/* main  */

.text-container{
    display: flex;
    justify-content: space-around;
    padding: 0px, 100px, 0px, 100px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
    margin: auto;
}

.card{
    display: flex;
    justify-content:space-around;
    gap: 5px;
    margin: 10px;
    padding: 50px;
}

.card img{
    height: 300px;
    width: 500px;
    padding: 5px;
}
/* main  */

/* footer css  */
.footer{
    margin-top: 10px;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #262626;
    color: white;
    width: 100%;
    bottom: 0px;
    letter-spacing: 10px;
}

/* footer css  */
